http://www.parlacom.net.br/pt/news/m2m.html	http://www.parlacom.net.br/pt/m2m.html
http://www.parlacom.net.br/pt/news/index.html	http://www.parlacom.net.br/pt/
http://www.parlacom.net.br/pt/ehealth.html	http://www.parlacom.net.br/pt/cibermedicina.html
http://www.parlacom.net.br/pt/carrier_inter.html	http://www.parlacom.net.br/en/m2m_message.html
http://www.parlacom.net.br/pt/news/article55.html	http://www.parlacom.net.br/pt/news/article64.html
http://www.parlacom.net.br/pt/news/article54.html	http://www.parlacom.net.br/pt/news/article64.html
http://www.parlacom.net.br/pt/news/mercuriusweb.html	http://www.parlacom.net.br/pt/mercuriusweb.html
http://www.parlacom.net.br/pt/news/atualizacoesdoproduto.html	http://www.parlacom.net.br/pt/whitepapers.html
http://www.parlacom.net.br/pt/news/aplicativosandroid.html	http://www.parlacom.net.br/pt/aplicativosandroid.html
http://www.parlacom.net.br/pt/news/documentostecnicos.html	http://www.parlacom.net.br/pt/documentostecnicos.html
http://www.parlacom.net.br/pt/news/listaprecos.html	http://www.parlacom.net.br/pt/listaprecos.html
http://www.parlacom.net.br/pt/news/sobreparlacom.html	http://www.parlacom.net.br/pt/sobreparlacom.html
http://www.parlacom.net.br/pt/news/whitepapers.html	http://www.parlacom.net.br/pt/whitepapers.html
Redirect 301 http://www.parlacom.net.br/pt/news/m2m_messaging.html	http://www.parlacom.net.br/en/m2m_message.html
Redirect 301 http://www.parlacom.net.br/pt/news/faqsajuda.html	http://www.parlacom.net.br/pt/whitepapers.html
Redirect 301 http://www.parlacom.net.br/pt/news/equipe.html	http://www.parlacom.net.br/pt/equipe.html
Redirect 301 http://www.parlacom.net.br/pt/news/contatos.html	http://www.parlacom.net.br/pt/contatos.html
Redirect 301 http://www.parlacom.net.br/pt/news/nossarede.html	http://www.parlacom.net.br/pt/nossarede.html
Redirect 301 http://www.parlacom.net.br/pt/news/clientes.html	http://www.parlacom.net.br/pt/clientes.html
Redirect 301 http://www.parlacom.net.br/pt/news/artigos.html	http://www.parlacom.net.br/pt/artigos.html
Redirect 301 http://www.parlacom.net.br/pt/news/operadoras.html	http://www.parlacom.net.br/pt/operadoras.html
Redirect 301 http://www.parlacom.net.br/pt/news/parceiros.html	http://www.parlacom.net.br/pt/parceiros.html
Redirect 301 http://www.parlacom.net.br/pt/news/pbxvirtual.html	http://www.parlacom.net.br/pt/pbxvirtual.html
Redirect 301 http://www.parlacom.net.br/pt/news/plataforma.html	http://www.parlacom.net.br/pt/plataforma.html
Redirect 301 http://www.parlacom.net.br/pt/news/data_center_gerenciado.html	http://www.parlacom.net.br/pt/data_center_gerenciado.html
Redirect 301 http://www.parlacom.net.br/pt/product_updates.html	http://www.parlacom.net.br/pt/whitepapers.html
Redirect 301 http://www.parlacom.net.br/pt/news/carrier_inter.html	http://www.parlacom.net.br/en/m2m_message.html
Redirect 301 http://www.parlacom.net.br/LeadingQuestnetwork/	http://www.parlacom.net.br/pt/
Redirect 301 http://www.parlacom.net.br/pt/news/product_updates.html	http://www.parlacom.net.br/pt/whitepapers.html
Redirect 301 http://www.parlacom.net.br/pt/virtualpbx.html	http://www.parlacom.net.br/pt/pbxvirtual.html
Redirect 301 http://www.parlacom.net.br/aggregator?page=20	http://www.parlacom.net.br/pt/index.html
Redirect 301 http://www.parlacom.net.br/en/pdf/Whitepaper%20M2M%20Cloud-based%20Platform_EN.pdf	http://www.parlacom.net.br/en/pdf/benefits_m2m_platform.pdf
Redirect 301 http://www.parlacom.net.br/tracking	http://parlacom.net.br/en/gpsvehicletracking.html
Redirect 301 http://www.parlacom.net.br/companyprofile/	http://www.parlacom.net.br/pt/equipe.html
Redirect 301 http://www.parlacom.net.br/idc/contact/	http://parlacom.net.br/en/companyprofile.html
Redirect 301 http://www.parlacom.net.br/idc/disaster-recovery/	http://parlacom.net.br/en/contact.html
Redirect 301 http://www.parlacom.net.br/en/images/Whitepaper%20M2M%20Cloud-based%20Platform_EN.ppt	http://parlacom.net.br/en/m2m.html
Redirect 301 http://www.parlacom.net.br/en/pdf/Minuta%20de%20Contrato%20M2M.pdf	http://parlacom.net.br/pt/pdf/minuta_contrato_M2M.pdf
Redirect 301 http://www.parlacom.net.br/en/pdf/Whitepaper%20The%20Virtual%20PBX%20That%20You%20Can%20Trust%20(Parlacom).pdf	http://www.parlacom.net.br/en/pdf/benefits_virtual_pbx.pdf
Redirect 301 http://www.parlacom.net.br/pt/images/Whitepaper%20LQ2000%20Portuguese.pdf	http://www.parlacom.net.br/en/whitepapers.html
Redirect 301 http://www.parlacom.net.br/pt/images/Whitepaper%20IP%20PBX%20(Parlacom)_PT.pdf	http://parlacom.net.br/pt/pdf/minuta_contrato_parlabox.pdf
Redirect 301 http://www.parlacom.net.br/images/flash/parlam2m.swf	http://www.parlacom.net.br/pt/M2M_pt.pdf
Redirect 301 http://www.parlacom.net.br/LeadingQuestnetwork/	http://www.parlacom.net.br/pt/
Redirect 301 http://www.parlacom.net.br/clients/	http://parlacom.net.br/en/clients.html
Redirect 301 http://www.parlacom.net.br/m/pt/sobreparlacom.html	http://www.parlacom.net.br/pt/sobreparlacom.html
Redirect 301 http://www.parlacom.net.br/mobile/pt/sobreparlacom.html	http://www.parlacom.net.br/pt/sobreparlacom.html
Redirect 301 http://www.parlacom.net.br/mobile/pt/faqsajuda.html	http://www.parlacom.net.br/pt/whitepapers.html
Redirect 301 http://www.parlacom.net.br/m/	http://www.parlacom.net.br/pt/
Redirect 301 http://www.parlacom.net.br/mobile/	http://www.parlacom.net.br/pt/