<IfModule mod_mime.c>
    AddType text/css .css
    AddType text/x-component .htc
    AddType application/x-javascript .js
    AddType application/javascript .js2
    AddType text/javascript .js3
    AddType text/x-js .js4
    AddType text/html .html .htm
    AddType text/richtext .rtf .rtx
    AddType image/svg+xml .svg .svgz
    AddType text/plain .txt
    AddType text/xsd .xsd
    AddType text/xsl .xsl
    AddType text/xml .xml
    AddType video/asf .asf .asx .wax .wmv .wmx
    AddType video/avi .avi
    AddType image/bmp .bmp
    AddType application/java .class
    AddType video/divx .divx
    AddType application/msword .doc .docx
    AddType application/vnd.ms-fontobject .eot
    AddType application/x-msdownload .exe
    AddType image/gif .gif
    AddType application/x-gzip .gz .gzip
    AddType image/x-icon .ico
    AddType image/jpeg .jpg .jpeg .jpe
    AddType application/json .json
    AddType application/vnd.ms-access .mdb
    AddType audio/midi .mid .midi
    AddType video/quicktime .mov .qt
    AddType audio/mpeg .mp3 .m4a
    AddType video/mp4 .mp4 .m4v
    AddType video/mpeg .mpeg .mpg .mpe
    AddType application/vnd.ms-project .mpp
    AddType application/x-font-otf .otf
    AddType application/vnd.ms-opentype .otf
    AddType application/vnd.oasis.opendocument.database .odb
    AddType application/vnd.oasis.opendocument.chart .odc
    AddType application/vnd.oasis.opendocument.formula .odf
    AddType application/vnd.oasis.opendocument.graphics .odg
    AddType application/vnd.oasis.opendocument.presentation .odp
    AddType application/vnd.oasis.opendocument.spreadsheet .ods
    AddType application/vnd.oasis.opendocument.text .odt
    AddType audio/ogg .ogg
    AddType application/pdf .pdf
    AddType image/png .png
    AddType application/vnd.ms-powerpoint .pot .pps .ppt .pptx
    AddType audio/x-realaudio .ra .ram
    AddType application/x-shockwave-flash .swf
    AddType application/x-tar .tar
    AddType image/tiff .tif .tiff
    AddType application/x-font-ttf .ttf .ttc
    AddType application/vnd.ms-opentype .ttf .ttc
    AddType audio/wav .wav
    AddType audio/wma .wma
    AddType application/vnd.ms-write .wri
    AddType application/font-woff .woff
    AddType application/vnd.ms-excel .xla .xls .xlsx .xlt .xlw
    AddType application/zip .zip
</IfModule>

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
</IfModule>
## EXPIRES CACHING ##

<IfModule mod_deflate.c>

    <IfModule mod_headers.c>

        Header append Vary User-Agent env=!dont-vary

    </IfModule>

        AddOutputFilterByType DEFLATE text/css text/x-component application/x-javascript application/javascript text/javascript text/x-js text/html text/richtext image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon application/json image/svg+xml application/x-font-ttf application/font-woff application/vnd.ms-fontobject application/x-font-o

    <IfModule mod_mime.c>

        # DEFLATE by extension

        AddOutputFilter DEFLATE js css htm html xml

    </IfModule>

</IfModule>

<FilesMatch "\.(css|htc|less|js|js2|js3|js4|CSS|HTC|LESS|JS|JS2|JS3|JS4)$">

    FileETag MTime Size

    <IfModule mod_headers.c>

        Header set Pragma "public"

        Header append Cache-Control "public"

         Header set X-Powered-By "W3 Total Cache/0.9.4"

    </IfModule>

</FilesMatch>

<FilesMatch "\.(html|htm|rtf|rtx|svg|svgz|txt|xsd|xsl|xml|HTML|HTM|RTF|RTX|SVG|SVGZ|TXT|XSD|XSL|XML)$">

    FileETag MTime Size

    <IfModule mod_headers.c>

        Header set Pragma "public"

        Header append Cache-Control "public"

         Header set X-Powered-By "W3 Total Cache/0.9.4"

    </IfModule>

</FilesMatch>

<FilesMatch "\.(asf|asx|wax|wmv|wmx|avi|bmp|class|divx|doc|docx|eot|exe|gif|gz|gzip|ico|jpg|jpeg|jpe|json|mdb|mid|midi|mov|qt|mp3|m4a|mp4|m4v|mpeg|mpg|mpe|mpp|otf|odb|odc|odf|odg|odp|ods|odt|ogg|pdf|png|pot|pps|ppt|pptx|ra|ram|svg|svgz|swf|tar|tif|tiff|ttf|ttc|wav|wma|wri|woff|xla|xls|xlsx|xlt|xlw|zip|ASF|ASX|WAX|WMV|WMX|AVI|BMP|CLASS|DIVX|DOC|DOCX|EOT|EXE|GIF|GZ|GZIP|ICO|JPG|JPEG|JPE|JSON|MDB|MID|MIDI|MOV|QT|MP3|M4A|MP4|M4V|MPEG|MPG|MPE|MPP|OTF|ODB|ODC|ODF|ODG|ODP|ODS|ODT|OGG|PDF|PNG|POT|PPS|PPT|PPTX|RA|RAM|SVG|SVGZ|SWF|TAR|TIF|TIFF|TTF|TTC|WAV|WMA|WRI|WOFF|XLA|XLS|XLSX|XLT|XLW|ZIP)$">

    FileETag MTime Size

    <IfModule mod_headers.c>

        Header set Pragma "public"

        Header append Cache-Control "public"

         Header set X-Powered-By "W3 Total Cache/0.9.4"

    </IfModule>

</FilesMatch>


#Redirects

Redirect 301 http://www.parlacom.net.br/pt/news/m2m.html	http://www.parlacom.net.br/pt/m2m.html
Redirect 301 http://www.parlacom.net.br/pt/news/index.html	http://www.parlacom.net.br/pt/
Redirect 301 http://www.parlacom.net.br/pt/ehealth.html	http://www.parlacom.net.br/pt/cibermedicina.html
Redirect 301 http://www.parlacom.net.br/pt/carrier_inter.html	http://www.parlacom.net.br/en/m2m_message.html
Redirect 301 http://www.parlacom.net.br/pt/news/article55.html	http://www.parlacom.net.br/pt/news/article64.html
Redirect 301 http://www.parlacom.net.br/pt/news/article54.html	http://www.parlacom.net.br/pt/news/article64.html
Redirect 301 http://www.parlacom.net.br/pt/news/mercuriusweb.html	http://www.parlacom.net.br/pt/mercuriusweb.html
Redirect 301 http://www.parlacom.net.br/pt/news/atualizacoesdoproduto.html	http://www.parlacom.net.br/pt/whitepapers.html
Redirect 301 http://www.parlacom.net.br/pt/news/aplicativosandroid.html	http://www.parlacom.net.br/pt/aplicativosandroid.html
Redirect 301 http://www.parlacom.net.br/pt/news/documentostecnicos.html	http://www.parlacom.net.br/pt/documentostecnicos.html
Redirect 301 http://www.parlacom.net.br/pt/news/listaprecos.html	http://www.parlacom.net.br/pt/listaprecos.html
Redirect 301 http://www.parlacom.net.br/pt/news/sobreparlacom.html	http://www.parlacom.net.br/pt/sobreparlacom.html
Redirect 301 http://www.parlacom.net.br/pt/news/whitepapers.html	http://www.parlacom.net.br/pt/whitepapers.html
Redirect 301 http://www.parlacom.net.br/pt/news/m2m_messaging.html	http://www.parlacom.net.br/en/m2m_message.html
Redirect 301 http://www.parlacom.net.br/pt/news/faqsajuda.html	http://www.parlacom.net.br/pt/whitepapers.html
Redirect 301 http://www.parlacom.net.br/pt/news/equipe.html	http://www.parlacom.net.br/pt/equipe.html
Redirect 301 http://www.parlacom.net.br/pt/news/contatos.html	http://www.parlacom.net.br/pt/contatos.html
Redirect 301 http://www.parlacom.net.br/pt/news/nossarede.html	http://www.parlacom.net.br/pt/nossarede.html
Redirect 301 http://www.parlacom.net.br/pt/news/clientes.html	http://www.parlacom.net.br/pt/clientes.html
Redirect 301 http://www.parlacom.net.br/pt/news/artigos.html	http://www.parlacom.net.br/pt/artigos.html
Redirect 301 http://www.parlacom.net.br/pt/news/operadoras.html	http://www.parlacom.net.br/pt/operadoras.html
Redirect 301 http://www.parlacom.net.br/pt/news/parceiros.html	http://www.parlacom.net.br/pt/parceiros.html
Redirect 301 http://www.parlacom.net.br/pt/news/pbxvirtual.html	http://www.parlacom.net.br/pt/pbxvirtual.html
Redirect 301 http://www.parlacom.net.br/pt/news/plataforma.html	http://www.parlacom.net.br/pt/plataforma.html
Redirect 301 http://www.parlacom.net.br/pt/news/data_center_gerenciado.html	http://www.parlacom.net.br/pt/data_center_gerenciado.html
Redirect 301 http://www.parlacom.net.br/pt/product_updates.html	http://www.parlacom.net.br/pt/whitepapers.html
Redirect 301 http://www.parlacom.net.br/pt/news/carrier_inter.html	http://www.parlacom.net.br/en/m2m_message.html
Redirect 301 http://www.parlacom.net.br/LeadingQuestnetwork/	http://www.parlacom.net.br/pt/
Redirect 301 http://www.parlacom.net.br/pt/news/product_updates.html	http://www.parlacom.net.br/pt/whitepapers.html
Redirect 301 http://www.parlacom.net.br/pt/virtualpbx.html	http://www.parlacom.net.br/pt/pbxvirtual.html
Redirect 301 http://www.parlacom.net.br/aggregator?page=20	http://www.parlacom.net.br/pt/index.html
Redirect 301 http://www.parlacom.net.br/en/pdf/Whitepaper%20M2M%20Cloud-based%20Platform_EN.pdf	http://www.parlacom.net.br/en/pdf/benefits_m2m_platform.pdf
Redirect 301 http://www.parlacom.net.br/tracking	http://parlacom.net.br/en/gpsvehicletracking.html
Redirect 301 http://www.parlacom.net.br/companyprofile/	http://www.parlacom.net.br/pt/equipe.html
Redirect 301 http://www.parlacom.net.br/idc/contact/	http://parlacom.net.br/en/companyprofile.html
Redirect 301 http://www.parlacom.net.br/idc/disaster-recovery/	http://parlacom.net.br/en/contact.html
Redirect 301 http://www.parlacom.net.br/en/images/Whitepaper%20M2M%20Cloud-based%20Platform_EN.ppt	http://parlacom.net.br/en/m2m.html
Redirect 301 http://www.parlacom.net.br/en/pdf/Minuta%20de%20Contrato%20M2M.pdf	http://parlacom.net.br/pt/pdf/minuta_contrato_M2M.pdf
Redirect 301 http://www.parlacom.net.br/en/pdf/Whitepaper%20The%20Virtual%20PBX%20That%20You%20Can%20Trust%20(Parlacom).pdf	http://www.parlacom.net.br/en/pdf/benefits_virtual_pbx.pdf
Redirect 301 http://www.parlacom.net.br/pt/images/Whitepaper%20LQ2000%20Portuguese.pdf	http://www.parlacom.net.br/en/whitepapers.html
Redirect 301 http://www.parlacom.net.br/pt/images/Whitepaper%20IP%20PBX%20(Parlacom)_PT.pdf	http://parlacom.net.br/pt/pdf/minuta_contrato_parlabox.pdf
Redirect 301 http://www.parlacom.net.br/images/flash/parlam2m.swf	http://www.parlacom.net.br/pt/M2M_pt.pdf
Redirect 301 http://www.parlacom.net.br/LeadingQuestnetwork/	http://www.parlacom.net.br/pt/
Redirect 301 http://www.parlacom.net.br/clients/	http://parlacom.net.br/en/clients.html
Redirect 301 http://www.parlacom.net.br/m/pt/sobreparlacom.html	http://www.parlacom.net.br/pt/sobreparlacom.html
Redirect 301 http://www.parlacom.net.br/mobile/pt/sobreparlacom.html	http://www.parlacom.net.br/pt/sobreparlacom.html
Redirect 301 http://www.parlacom.net.br/mobile/pt/faqsajuda.html	http://www.parlacom.net.br/pt/whitepapers.html
Redirect 301 http://www.parlacom.net.br/m/	http://www.parlacom.net.br/pt/
Redirect 301 http://www.parlacom.net.br/mobile/	http://www.parlacom.net.br/pt/